@{
    ViewBag.Title = "About";
}
<h2>Acerca de Nosotros</h2>
<h3>Nos preocupamos por tu mascota</h3>

<p>
    
    La Clínica Veterinaria HappyPets somos un centro veterinario situado en la ciudad de Buenos Aires donde nuestra máxima prioridad es el cuidado de tu mascota. Por este motivo, además de ofrecerte un servicio veterinario completo, contamos con una peluquería para realzar la belleza del animal y una tienda donde podrás encontrar productos especializados para una buena alimentación, así como diversos complementos y accesorios.

</p>

<p>
    Nuestro principal compromiso con nuestros clientes es velar por la salud y el bienestar de sus mascotas. Con un trato personalizado y cercano, nuestro equipo de veterinarios te asesorará sobre los cuidados sanitarios que requieren los animales para que estén cubiertos con todas las garantías. Nuestra vocación y pasión por nuestro trabajo hace que tratemos a las mascotas con el máximo cariño.

</p>