@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>¿Donde estamos?</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Turnos:</strong>   <a href="mailto:turnos@happypets.com">turnos@happypets.com</a><br />
    <strong>Consultas:</strong> <a href="mailto:info@happypets.com">info@happypets.com</a>
</address>