@{
    ViewBag.Title = "Home Page";
}
<h1>VETERINARIA HappyPets</h1>
<p class="lead">Bienvenido a HappyPets</p>

<h1>¡Confía en nosotros para cuidar de tu mascota!</h1>

<p>
    La Clínica Veterinaria HappyPets está compuesta por un equipo de veterinarios con una amplia experiencia 
    en el sector y la experiencia necesaria para tratar a tu mascota de la mejor forma posible y proporcionarle 
    el tratamiento que le ayude a curarse. De hecho, nuestro equipo se mantiene en constante formación para estar 
    perfectamente informados sobre cuáles son las novedades veterinarias, la nueva aparatología que facilita nuestro 
    trabajo y las nuevas técnicas y tratamientos para las mascotas.
</p>

<p>
    Además, nuestra clínica está equipada con la aparatología necesaria para realizar 
    los servicios veterinarios y de peluquería con total seguridad y eficacia. 
    Contamos con consultas amplias donde poder realizar las revisiones rutinarias de las mascotas, 
    así como con un laboratorio que nos permite ofrecer los resultados clínicos en el mismo día.
</p>

<p>
    <img src="http://186.0.174.26:8080//Content/images/background/hotel-pets.jpeg" width="600px"/>
</p>